[2018-08-18 10:16] L-Mno opened #2 "Hello, when ios is running, when I delete all the Numbers and add them again, the Numbers will be hidden. What should I do?"
Hello, I have run your example, everything is ok on Android, but there was a problem in Ios. The number that was selected before deleted will not be displayed. If this component is still maintained, I hope it can be solved.

[2018-08-18 11:15] dsznajder commented on #2
I will look into it and get back with feedback today @L-Mno :)

[2018-08-18 12:29] L-Mno commented on #2
react-native  --version 0.54.2

First of all,    npm i react-native-otp-inputs --save

The following

![b84de294-3bb2-42ac-a210-894f8751fd20](https://user-images.githubusercontent.com/35682188/44299233-a52add00-a324-11e8-8d01-dbde0a19d4bc.png)

Everything was fine the first time I typed, but when I deleted the Numbers and rechose the other Numbers, it looked like this.

![2771020d-7af4-43a6-b6c9-4

[2018-08-20 10:05] dsznajder commented on #2
Try to update to the newest version, should be resolved with `0.6.1`

[2018-08-21 01:56] L-Mno commented on #2
You can close this error, You can also optimize   ##this.

![f5c5f227-bc0b-41c2-8d76-d821a3990dc8](https://user-images.githubusercontent.com/35682188/44375564-e8549e00-a526-11e8-952a-8a4db0abb909.png)

When you select a number on ios, you can select it in a more beautiful way, and hopefully this component will do better.

[2018-08-21 01:57] #2 closed

[2018-08-21 08:04] dsznajder commented on #2
@L-Mno You can try to set `selectTextOnFocus` to false.

[2018-08-30 09:32] NazifaNajish01 opened #3 "Not able to change input text color in normal mode. It's always white."
We have option to set '**inputTextErrorColor**' but not any option for '**inputTextColor**'. It's always white.
Please add support for input text color as well.

[2018-08-30 09:38] NazifaNajish01 opened #4 "No support for alpha numeric input. Keyboard type is always number values only."
By default keyboard type is 'Phone-pad' (numbers) only. But, for alpha-numeric (letters+numbers) OTP  not able to use the react-native-otp-input.

[2018-08-30 10:44] dsznajder commented on #3
I will implement this later today :)

[2018-08-30 10:44] dsznajder commented on #4
I will implement this later today :)

[2018-09-01 20:44] dsznajder commented on #3
@NazifaNajish01 You can pass `inputStyles` prop for that one

[2018-09-01 20:44] #3 closed

[2018-09-01 21:03] dsznajder commented on #4
@NazifaNajish01 Published in `v0.7.0`

[2018-09-01 21:03] #4 closed

[2018-09-03 05:53] NazifaNajish01 commented on #3
Thanks, Damian Sznajder! It's really helpful. ☺
Appreciate your efforts. 👏

Regards,
Nazifa Najish

On Sun, Sep 2, 2018 at 2:14 AM, Damian Sznajder <notifications@github.com>
wrote:

[2018-09-03 05:54] NazifaNajish01 commented on #4
Thanks, Damian Sznajder! It's really helpful. ☺
Appreciate your efforts. 👏

Regards,
Nazifa Najish

On Sun, Sep 2, 2018 at 2:33 AM, Damian Sznajder <notifications@github.com>
wrote:

[2018-09-14 12:13] NazifaNajish01 opened #5 "Auto capitalization problem for keyboard type 'default'/alphanumeric values"
For the OTP which contains small letters in it for e.g. **a1b2c3** or **abcde** ,

According to the default behavior autoCapitalize:'sentences' (i.e first letter of each sentence in caps), the keyboard caps lock gets on for each **TextInput** of the 'react-native-otp-inputs' which is a bit annoying for users if they have an alphanumeric OTP.

Can there be an option to set auto capitalization "**no

[2018-09-14 15:11] PSSABISHEK opened #6 "Styles Queries"
What are the values for unfocusedBorderColor other than transparent ?
How to change the change the color of the text inside the box ?

[2018-09-14 15:47] dsznajder commented on #6
`unfocusedBorderColor` as name says, takes every color values defined here: https://facebook.github.io/react-native/docs/colors

You can change color inside box by `inputStyles` prop.

Next time read `API` notes before :)

[2018-09-14 15:47] #6 closed

[2018-09-14 15:48] dsznajder commented on #5
Sure, I will implement this today or tomorrow. You can also send a PR if you need something specific :)

[2018-09-15 15:45] shashidhark opened #7 "Not responsive UI, if input size is 6 input filed is not visible."

[2018-09-18 14:29] ShekharD175 opened #8 "Passing value to auto fill otp"
How to achieve auto fill OTP

[2018-09-25 19:57] Sourabhd1164 opened #9 "is there a way to clear all the fields if we enter the wrong code?"

[2018-10-11 08:44] dsznajder commented on #7
@shashidhark Could you provide some reproduction and which phone is buggy? I've tested it on iPhone 6 and seems to work fine.

[2018-10-11 08:51] dsznajder commented on #8
Unfortunately, current implementation does not have this feature. I also never done something like autofill feature, if you have some experience could you provide some examples?
@ShekharD175

[2018-10-11 09:05] dsznajder commented on #9
You could try remove state from component @Sourabhd1164

[2018-10-13 10:01] dsznajder commented on #5
Check 1.0.0 v

[2018-10-13 10:01] #5 closed

[2018-11-24 05:32] vishal767 opened #10 "AutoFocus not working"
HI,
I'm trying to set the input to autofocus while the page loads...not sure how to do that..since the props are not defined in the documentation.

`
 <View style={styles.container,{padding:30}}>
      <OtpInputs autoFocus={true} handleChange={code => console.log(code)} numberOfInputs={4}
       />
    </View>
`

[2019-01-17 11:37] ryanphung opened #11 "Not able to change inputsContainerStyles"
FEATURE REQUEST
---
Thanks for the very useful component.

It will be cool to have an option to change `inputsContainerStyles` which at the moment is defaulted to `{marginHorizontal: 25, marginVertical: 20}`. Sometimes we need to reset these margin while making our own styles.

I think it's a pretty simple fix - I could create PR for this if you're ok with that.

[2019-01-17 11:39] ryanphung opened #12 "Not able to set secure input"
FEATURE REQUEST
---
Thanks for the very useful component.

It will be very useful to have an option to set secure input, for example `<OtpInputs secure={true}/>`.

This is also a dead simple improvement - I could create PR for this if you're ok with that.

[2019-01-17 13:35] #7 closed

[2019-01-17 13:36] #8 closed

[2019-01-17 13:36] #9 closed

[2019-01-17 13:41] dsznajder commented on #12
@ryanphung I've just published `1.1.0`v with `secureTextEntry`. Should resolve this one

[2019-01-17 13:41] #12 closed

[2019-01-17 13:41] dsznajder commented on #11
@ryanphung Published in `1.1.0`

[2019-01-17 13:41] #11 closed

[2019-01-25 04:36] thepday12 opened #13 "Can't paste whole text into OtpInputs"
[code]
I create OtpInputs with 4 inputs. I get OTP have 4 character(ex:1234) when i click fill OTP only first input show "1".
<img width="426" alt="screen shot 2019-01-25 at 11 36 06 am" src="https://user-images.githubusercontent.com/3842720/51725559-749a5c80-2095-11e9-8bd9-41fd5bbb8eb4.png">

[2019-02-08 08:01] l3satwik opened #14 "Can't paste the OTP"
I've an OTP, say `1234` copied to my clipboard. When I paste only `1` gets pasted to the first input field.

[2019-02-22 03:57] ashwanihundwani opened #15 "Text colour property is not customisable."
Can you guys make TextInput colour property customsable, as in my case I need to have black colour for text.

[2019-02-27 09:59] AnchalMulchandani commented on #15
hello @ashwanihundwani ,

do you get any solution to change the text color?

[2019-02-28 03:12] ashwanihundwani commented on #15
@AnchalMulchandani  No, I am using my own custom solution, as I am constrained on time.

[2019-02-28 06:20] AnchalMulchandani commented on #15
@ashwanihundwani
I have checked for this and got the solution..
You can pass `inputStyles` prop for that one.

[2019-02-28 06:48] ashwanihundwani commented on #15
@AnchalMulchandani Thanks Anchal. I can pass in {"color": "#fff"} something like this right?

[2019-02-28 07:07] AnchalMulchandani commented on #15
@ashwanihundwani  Yes,You can pass the style under that prop and also using style object-

For eg:-
 1. using style object-

<OtpInputs handleChange={code => console.log(code)} numberOfInputs={6} **inputStyles={styles.otpInputText}** inputsContainerStyles={styles.otpContainerView} inputContainerStyles={styles.inputContainerView}/>

2. Inside prop-
 <OtpInputs handleChange={code => console.log(code

[2019-02-28 08:50] ashwanihundwani commented on #15
@AnchalMulchandani Thanks Anchal, much appreciated.

[2019-03-09 13:04] dsznajder commented on #15
I think I can close it as you can customize pretty much everything :)

[2019-03-09 13:04] #15 closed

[2019-03-09 13:05] dsznajder commented on #14
#13

[2019-03-09 13:05] #14 closed

[2019-03-09 13:05] dsznajder commented on #13
I will sit to this one finally through weekend :) I hope i will come up with some idea.

[2019-03-09 22:39] dsznajder commented on #13
Released in v2.0.0. Now you can paste your code into input :)

[2019-03-09 22:39] #13 closed

[2019-03-09 22:39] dsznajder commented on #14
Released in v2.0.0

[2019-03-09 22:40] dsznajder commented on #8
Released in v2.0.0

[2019-03-11 11:46] graphee-gabriel commented on #3
Hello,

Could you add it to the docs ? Struggled 30mn to find it eventually in the code :-p.

Thanks for a great lib

[2019-03-11 12:10] dsznajder commented on #3
@graphee-gabriel 	Sorry, I thought I've added this. I added it in docs, also I've linked to the default styles.

[2019-03-11 13:34] graphee-gabriel commented on #3
No problem, thank you :-)

[2019-03-13 10:01] Susmitha-Bogala commented on #12
in my case secureTextEntry is not working?

[2019-03-14 12:49] LudinaReema opened #16 "Changing the cursor color of OtpInputs"
Hi I wanted to change the cursor color of the otp input box.
I have used containerStyles = {{ caretColor: '#BA85FC' }} not working.

[2019-03-14 13:30] dsznajder commented on #16
Because style is applied to the container, not to TextInput. You need to use `inputStyles`

[2019-03-14 13:30] #16 closed

[2019-04-06 00:09] jannainm opened #17 "Update README unfocusedBorderColor capitalization to unFocusedBorderColor"
This tripped me up for a little while. The readme has the incorrect capitalization  of the `unFocusedBorderColor` prop listed as `un**f**ocusedBorderColor`.

If you would like I can fork and submit a PR for this change or you can push it in your next update. Let me know what works for you - great work on this component 🥇

[2019-04-06 08:55] dsznajder commented on #17
@jannainm I will release fix today, as I'm working on documenting types also :)

[2019-04-06 10:03] dsznajder commented on #17
Fixed in 2.0.1

[2019-04-06 10:03] #17 closed

[2019-04-15 04:04] arisupriatna14 opened #18 "Error: while trying ro resolve modules `react-native-otp-inputs`"
Hallo guys, can you help me?

error: bundling failed: Error: While trying to resolve module react-native-otp-inputs from file /Users/useradmin/Documents/xxx-app-consumer/app/components/RegisterOtp/RegisterOtp.screen.js, the package /Users/useradmin/Documents/xxx-app-consumer/node_modules/react-native-otp-inputs/package.json was successfully found. However, this package itself specifies a main modu

[2019-04-15 04:06] arisupriatna14 commented on #18
Hallo guys, can you help me?

error: bundling failed: Error: While trying to resolve module `react-native-otp-inputs` from file `/Users/useradmin/Documents/boost-app-consumer/app/components/RegisterOtp/RegisterOtp.screen.js`, the package `/Users/useradmin/Documents/boost-app-consumer/node_modules/react-native-otp-inputs/package.json` was successfully found. However, this package itself specifies a

[2019-04-25 08:13] Abhishekgarg727 opened #20 "Unable to resolve module react-native-otp-inputs in latest 2.0.1"
When uses version 1 it works fine but latest version 2.0.1 have following problem.

While trying to resolve module `react-native-otp-inputs`

from file

`F:\abc\app\components\EmailOTPVerification.js`,

the package
 `F:\abc\node_modules\react-native-otp-inputs\package.json` was successfully found.

However, this package itself specifies a `main` module field that could not be resolved

(`F:\abc\no

[2019-04-25 09:04] dsznajder commented on #18
@arisupriatna14 Thanks for reporting the issue. I could not reproduce this one by my self. Could you provide some reproduction?

[2019-04-25 09:05] dsznajder commented on #20
@Abhishekgarg727 closing in favour of #18. Let's keep a track of this here.

I could not reproduce this one by my self. Send a reproduction in the mentioned issue.

[2019-04-25 09:05] #20 closed

[2019-04-25 09:06] Abhishekgarg727 commented on #20
can you upload your example working code project

[2019-04-25 09:10] dsznajder commented on #18
@arisupriatna14 I've created a Snack here and it seems to be fine. https://snack.expo.io/Hkg1KgkiV

[2019-04-25 09:19] dsznajder commented on #20
@Abhishekgarg727 I've uploaded in mentioned issue

[2019-04-25 14:02] Abhishekgarg727 commented on #20
@dsznajder  i looking forward to fix this issue so i created sample project using react-native-cli and reproduce this issue , here is my git repo of source code https://github.com/Abhishekgarg727/react-native-otp-inputs-error

[2019-04-26 10:33] dsznajder commented on #20
@Abhishekgarg727 Ok, as I see, this will be related to react-native version. Today I will check which version is correct to use newest version. Please downgrade to 2.0.0. I will deprecate the newest one and create v3.0.0 as it's kinda breaking change.

[2019-04-26 10:38] Abhishekgarg727 commented on #20
@dsznajder  i did not test 2.0.0 version yet, let me compile code again to see that problem persists or not. i  also want to know, is this count as contribution ?

[2019-04-26 10:55] Abhishekgarg727 commented on #20
i tested version 2.0.0 same problem persists

[2019-04-27 11:34] dsznajder commented on #18
@arisupriatna14 I've updated documentation. It seems that there are some breaking changes on newer versions of `react-native`. I run it on version 0.57 or higher, so I've added it to documentation.

[2019-04-27 11:34] #18 closed

[2019-04-27 11:37] dsznajder opened #21 "Use Clipboard for autopasting"

[2019-04-27 11:47] dsznajder opened #22 "Restyle Inputs"

[2019-04-30 07:25] AnchalMulchandani opened #23 "secureTextEntry not working in Android"
I have added this component and working fine in iOS but in android "secureTextEntry" is not working.

Any idea how it will work?

[2019-04-30 08:04] dsznajder commented on #23
@AnchalMulchandani Hi, It's not really related to my package but to React-Native
https://github.com/facebook/react-native/issues/20606. I will leave it as reference to this issue.

[2019-04-30 09:43] AnchalMulchandani commented on #23
@dsznajder  I want to secure the code in android also but its not working with "secureTextEntry".

AnyIdea how to get inputs in dot formate(secured formate) instead of number formate?

[2019-04-30 11:04] AnchalMulchandani commented on #23
@dsznajder  I got the solution Thanks!

Its all about, "secureTextEntry" will not work with keyboardType={"email-address"} or keyboardType={"phone-pad"} and in package its by-default {"phone-pad"}, so it was not working..

I passed keyboardType={"numeric"}  and it works :)

Thanks

[2019-04-30 11:05] #23 closed

[2019-05-02 18:31] #22 closed

[2019-05-02 18:31] #21 closed

[2019-05-08 14:21] RodneyOnyi commented on #9
Is this still in the works as a feature update?

[2019-05-12 14:05] Abhishekgarg727 commented on #23
where did you add prop` KeyboardType={"numeric"}` , please a code snippet if possible

[2019-05-14 12:46] AnchalMulchandani commented on #23
Here is the way  i have used-

    <OtpInputs
                                    isReset={isReset}
                                    clearTextOnFocus={true}
                                    handleChange={code => this.changeValue('OTP', code)}
                                    numberOfInputs={4}
                                    keyboardType={"numeric"} secureTextEntry ={true}

[2019-05-28 09:46] vinitkadam opened #27 "Accepts more than 1 letter/number in one textinput if you type fast"
If we type fast then it accepts more than 1 letter/number in one TextInput.

[2019-05-31 14:42] Abhishekgarg727 opened #29 "gave support for secure text entry for RN 55.4"
55.4 is one compatible and stable version of react native for android users.

[2019-05-31 23:42] dsznajder commented on #29
@Abhishekgarg727 Sorry, but from the newest version, we don't support previous RN

[2019-05-31 23:42] #29 closed

[2019-06-03 17:22] #27 closed

[2019-06-13 08:03] codecomeon opened #31 "for twice validate, need clear function to call"
password twice validate, like this:
`this.otpInputComponent.clear();`

[2019-06-13 08:05] dsznajder commented on #31
You can't clear the otp code? I'm pretty sure if you change "value" to an empty string, inputs should be cleared.

[2019-06-17 10:55] mohmdalfaha commented on #31
@dsznajder How do I clear the inputs on entering wrong code ??
Could you please show some code

[2019-06-24 19:36] dsznajder commented on #31
@codecomeon @mohmdalfaha Ok, sorry I mislead you. I didn't realise that package does not expose this mechanism. I will update it when I find time. Probably this week :)

[2019-07-03 12:08] subhamchatterjee opened #57 "bundling issue, react-native 0.59.8"
error: bundling failed: Error: Cannot combine flow and typescript plugins.
    at validatePlugins (/Work/node_modules/@babel/parser/lib/index.js:6084:11)
    at getParser (/Work/node_modules/@babel/parser/lib/index.js:11262:5)
    at parse (/Work/node_modules/@babel/parser/lib/index.js:11232:22)
    at parser (/Work/node_modules/@babel/core/lib/transformation/normalize-file.js:170:34)
    at norma

[2019-07-03 12:20] dsznajder commented on #57
@subhamchatterjee Why you use `babel-preset-react-native` together with `metro`? I'm pretty sure that this is main reason of this problem

[2019-07-11 10:00] lakshbhutani opened #66 "SecureTextEntry is not working properly"
prop securetextentry is working fine on ios but not on android.

[2019-07-11 10:17] dsznajder commented on #66
#23

[2019-07-11 10:17] #66 closed

[2019-07-15 08:36] vish2595 opened #69 "LTR support?"

[2019-07-15 18:11] dsznajder commented on #57
@subhamchatterjee I'm closing it as i did not receive any further information from you so I assume this works fine :)

[2019-07-15 18:11] #57 closed

[2019-07-22 06:09] Rohithzr commented on #69
@dsznajder I am from @vish2595 team, I am forking the library to add LTR support.

Issue Description: If RTL is enabled at the device level or the application level, the OTP boxes generated by the libarary get reversed, meanining the first box has the id 3 (if otp length is 4). Whereas the numbers in RTL must still be in LTR order. to support this I propose to add a `forceLTR` option that would ca

[2019-07-22 07:06] dsznajder commented on #69
@Rohithzr Thanks! If I can help you with something just give me a shout!

[2019-07-23 06:53] #69 closed

[2019-07-25 16:55] dependabot-preview[bot] opened #79 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-25 16:59] dsznajder commented on #31
@codecomeon @mohmdalfaha I've added method `clear` with documentation.
Look in README.md and update to `v3.3.1`! :)

[2019-07-25 16:59] #31 closed

[2019-07-25 17:00] dependabot-preview[bot] opened #80 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-25 17:00] #79 closed

[2019-07-25 17:03] #80 closed

[2019-07-25 17:04] dependabot-preview[bot] opened #81 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/npm_and_yarn/helpers/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention

[2019-07-25 17:26] #81 closed

[2019-08-28 12:47] jaswalnisha opened #112 "Clear() method not working."
Usage of Clear() methods is not clear i.e how to use the clear method? Thanks in advance

[2019-08-28 13:07] dsznajder commented on #112
@jaswalnisha 	There is direct example in README.md how to use it.
https://github.com/dsznajder/react-native-otp-inputs#methods

Please, look at it and give feedback if something, or what directly is unclear.

[2019-08-28 13:12] jaswalnisha commented on #112
Thanks for feedback. I have tried the the way you have suggested, but it gives me the below error.
![Screen Shot 2019-08-28 at 6 41 23 PM](https://user-images.githubusercontent.com/41417012/63858709-9b21cc80-c9c3-11e9-90e4-86e40edeb81d.png)

[2019-08-28 13:19] dsznajder commented on #112
@jaswalnisha Could you share a code, how you use this one?

[2019-08-28 13:23] jaswalnisha commented on #112
export default class OTPScreen extends Component {
    otpRef = React.createRef()
    constructor(props) {
        super(props);
        this.state = {
            countDown: 5,
            otpCode:''
        }
    }

    componentDidMount(): void {
        this.clockCall = setInterval(() => {
            this.decrementClock();
        }, 1000);
    }

    decrementClock = () => {
        if (this

[2019-08-28 14:00] dsznajder commented on #112
@jaswalnisha which version you use?

[2019-08-29 04:03] jaswalnisha commented on #112
React - 16.8.3,
React-Native - 0.59.4
Rreact-native-otp-inputs - ^3.3.2"

[2019-08-29 06:50] dsznajder commented on #112
@jaswalnisha 	I'm very sorry! I was doing this feature lately and I did not correct the docs. The method is `reset`.

You should use it like:
[code]

[2019-08-29 06:51] #112 closed

[2019-08-29 06:53] jaswalnisha commented on #112
I worked.. Thank You

[2019-08-31 20:30] mohsinulhaq opened #115 "Key strokes on Android lost when pressed quickly"
When I press the keys very quickly after one another, the keystrokes seem to get lost. Looks like if we input before the next input is focussed, it doesn't register. Any solution or workaround for this?
Thanks.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7688231/64068875-1a313200-cc5c-11e9-9208-f7f0bd2c9dd6.gif)
Here, I press 0 quickly twice, but I get it only once.

[2019-09-24 16:08] dsznajder commented on #115
@mohsinulhaq Does this happenes on a real device?

[2019-09-24 16:11] mohsinulhaq commented on #115
yes it does

[2019-09-24 16:17] dsznajder commented on #115
@mohsinulhaq I need to take a look at it, but it's because otherwise you can't paste code into those :/

[2019-09-26 02:43] quanle1994 opened #132 "Pasted OTP value cannot be edited"
Thank you for the component.
I encountered an issue with pasting value in the OTP. After pasting my OTP in the inputs, I cannot edit it. Below are the screenshots of the problem.

This is the pasted value.
![image](https://user-images.githubusercontent.com/17548904/65654090-369d7000-e04a-11e9-8eb1-46ac217a77c0.png)

When I type something, the value changes to my typed input, but then quickly flick

[2019-09-26 02:50] psjsaravana commented on #132
+1

[2019-09-26 02:57] quanle1994 opened #133 "When editing the OTP, cursor does not move to the next input box if the edited value is the same as the old value"
When user changes the value in the OTP input, if the changed value is the same as the old one, the cursor will stay in that box and not move to the next one.
![image](https://user-images.githubusercontent.com/17548904/65654690-41f19b00-e04c-11e9-97ee-19dc7396fd7f.png)

[2019-09-26 02:59] quanle1994 opened #134 "First input box takes 2 characters when editing."
When user edits the OTP, for the first box, user can input 2 characters if the text is not selected. Below is the screenshot of the first box having 2 characters instead of 1.
![image](https://user-images.githubusercontent.com/17548904/65654826-af053080-e04c-11e9-87bf-7457468ceeb3.png)

[2019-09-27 07:45] dsznajder commented on #134
Duplicated #115

[2019-09-27 07:45] #134 closed

[2019-09-27 07:46] dsznajder commented on #132
@quanle1994 thanks for issue, I will look into it on next week. However, otp will copy value by it self if copied text has same length as OTP.

[2019-09-27 14:34] quanle1994 commented on #132
@dsznajder Thank you for your prompt reply :)

[2019-10-08 10:58] dsznajder commented on #115
@mohsinulhaq checkout [v4](https://github.com/dsznajder/react-native-otp-inputs/releases/tag/v4.0.0-alpha.0). It's released now, with some changes related to android bugs.

[2019-10-08 10:58] #115 closed

[2019-10-08 10:59] dsznajder commented on #132
@quanle1994 @mohsinulhaq checkout [v4](https://github.com/dsznajder/react-native-otp-inputs/releases/tag/v4.0.0-alpha.0). It's released now, with some changes related to android bugs.

[2019-10-08 10:59] #132 closed

[2019-10-10 06:03] quanle1994 commented on #133
@dsznajder Thank you so much for the prompt fixes. The non-editable pasted value bug was a blocker for me. However, this issue still exists.

In this screenshot, I entered 5 in the second box. When I select that box again and press 5, the cursor stays in that box, after the 5, and does not move to the third box.
![image](https://user-images.githubusercontent.com/17548904/66542818-3632c800-eb66-11e

[2019-10-10 06:51] dsznajder commented on #133
@quanle1994 Yes, the problem is that `onKeyPress` event is not triggered properly on android when keyboard is not `default`. I have an idea to resolve this properly but it will need [native package](https://github.com/kevinejohn/react-native-keyevent). I will do it and test the next version. If everything will be fine, we will introduce the new version with guide how to setup.

[2019-10-11 05:51] Parth-9711 opened #162 "Android and iOS crashed when use two OTPInput view together with 4 and 6 numberOfInputs."
![Screenshot_1570772856](https://user-images.githubusercontent.com/56424770/66627286-cf221b80-ec18-11e9-8a12-f38c30606f61.png)

First OTPInputview is for 4 number and second is for 6 number.
4 DIgit OTPInputview working fine but If i try to write 5th word in second OTPInpuptview which has total 6 digit code so doesn't work and crashed.
Even If i use forceInput(), still not working.

[2019-10-11 11:59] dsznajder commented on #162
@Parth-9711 could you share code? Because I can’t debug without any background.

[2019-10-11 12:32] Parth-9711 commented on #162
{this.state.isFourDigit == true ? (<OtpInputs
                                                ref={this.otpRef}
                                                selectTextOnFocus={false}
                                                focusedBorderColor={CommonColor.bgBorderGray}
                                                keyboardType='number-pad'

[2019-10-14 04:31] quanle1994 opened #164 "handleChange function is not being called."
Hi @dsznajder
I think there is a regression bug with the handleChange callback function after the recent changes.
Previously, the handleChange function will be triggered after every input change, but now, it is not called even when the full OTP has been entered.
![image](https://user-images.githubusercontent.com/17548904/66729471-38569880-ee7e-11e9-931d-ac52e8f83fc4.png)
In this screenshot, the GO

[2019-10-18 12:12] arshidkv12 opened #171 "How focus inputs ?"
How to focus?

[2019-10-19 12:04] axebelk commented on #164
Same here, So changed to some other Package

[2019-10-19 12:09] dsznajder commented on #171
@arshidkv12 What would you like to focus? Some specific input or just first?

[2019-10-19 12:11] arshidkv12 commented on #171
Just first...
I resolved by using private focus internal function.

Version 3.3.2

On Sat, Oct 19, 2019, 5:39 PM Damian Sznajder <notifications@github.com>
wrote:

[2019-10-19 12:16] dsznajder commented on #164
@quanle1994 @axebelk In few minutes I will release newest alpha, please checkout if everything works for you :)

[2019-10-19 12:47] dsznajder commented on #171
@arshidkv12 checkout `react-native-otp-input@next`. I've added `focus` method for this :)

[2019-10-19 12:47] #171 closed

[2019-10-19 12:48] dsznajder commented on #164
Now it should be called properly. Checkout `react-native-otp-inputs@next`

[2019-10-19 12:48] #164 closed

[2019-10-19 12:48] dsznajder commented on #133
@quanle1994 Now it's available through `react-native-otp-inputs@next`. Check migration guide :)

[2019-10-19 12:48] #133 closed

[2019-10-19 12:53] dsznajder commented on #162
@Parth-9711 Sorry but still I couldn't reproduce this bug. Checkout newest version.
I'm also curious if this is not related to passing same `ref={this.otpRef}` to 2 components.

[2019-10-21 05:09] axebelk commented on #164
Still not working properly.. have lot of bugs

[2019-10-21 06:28] dsznajder commented on #164
@axebelk could you share your code and version which you use? Are you sure you have installed `4.0.0-alpha.4` version?

[2019-10-21 11:41] mayankpandav opened #172 "Set value"
im not able to set detected OTP because of handlechange...

[2019-10-21 12:37] dsznajder commented on #172
@mayankpandav Which version and what your code looks like?

[2019-10-23 09:04] axebelk commented on #164
I am sure I have installed alpha-4
    "react-native-keyevent": "^0.2.2",
    "react-native-otp-inputs": "^4.0.0-alpha.4",
and my code is

<OtpInputs
                  keyboardType="number-pad"
                  handleTextChange={code => console.log(code)}
                  selectTextOnFocus={false}
                  numberOfInputs={6} />

When i starting to type it stay on first input box.

[2019-10-23 09:36] dsznajder commented on #164
@axebelk iOS or Android? Also, did you setup properly `react-native-keyevent` for android?

[2019-10-23 13:47] mayankpandav commented on #172
I'm using latest version there is no field like value to put value instead we have handlechange which are handling onchange and value

[2019-10-23 15:29] dsznajder commented on #172
@mayankpandav There is no possibility, for now. I will include this in v4 :)

[2019-10-23 16:59] mayankpandav commented on #172
@dsznajder  Thank you for your time

[2019-10-30 00:48] augustosamame commented on #172
+1 for this feature. I need to clear any inputted OTP if Resend button is clicked, but it's currently impossible.

[2019-10-30 04:34] mayankpandav commented on #172
@augustosamame  it will work if they put value of input, on resend we can clear state what we have putted as a value.. just need to add value,  if you are in hurry then you can do fork and put some changes....

[2019-10-31 10:17] dsznajder commented on #172
@augustosamame There is `reset` method on `OtpInputs` instance. I've added `defaultValue` in current version.

[2019-10-31 10:17] #172 closed

[2019-10-31 14:35] mayankpandav commented on #172
@dsznajder thank you....

[2019-11-19 09:58] rmamtaventures opened #200 "Wrong otp autofill."

[2019-11-25 09:01] dsznajder commented on #200
@rmamtaventures Could you explain what do you mean by `Wrong otp autofill`? Some code reproduction or example.

[2019-11-25 12:09] rmamtaventures commented on #200
Current behaviour:- When navigate to otp screen, it's autofill by second last message of otp from device messages.
Expected behaviour:- It should be autofill by latest otp message from device messages.

Is it clear?

[2019-11-25 12:13] dsznajder commented on #200
@rmamtaventures It's autofilled with copied text in `Clipboard` so behaviour is correct.

[2019-11-25 12:19] rmamtaventures commented on #200
Each time it's autofill with same otp in android device. I have not copied any otp.

[2019-11-25 14:56] dsznajder commented on #200
@rmamtaventures Please share example. I cannot help without any context :)

[2019-11-29 13:22] mayankpandav commented on #200
@dsznajder its happen when you have copied value exact same as OTP require ....

[2019-12-03 06:39] ianidi opened #213 "Keyevent doesn't fire if Samsung keyboard is used (Google keyboard works perfectly)"
I am not sure if it is related to otp inputs. I will open an issue in keyevents repository. Please see the video. At first I was using the google keyboard and everything worked perfectly. Then I switch to Samsung keyboard and it doesn't work at all.

https://yadi.sk/i/UuAFWwYjfZIsgQ

[2019-12-07 14:42] dsznajder commented on #213
[Related issue](https://github.com/kevinejohn/react-native-keyevent/issues/43)

[2019-12-07 15:45] dsznajder commented on #213
@ianidi Thanks for the detailed issue. I find out that the problem lays inside React-Native. When you change keyboardType to `phone-pad` it will work fine.
Unfortunately, I can't do anything other than just restrict keyboard types.

[2019-12-07 15:50] #213 closed

[2019-12-12 15:40] chakkizza opened #221 "OTP not auto-populating correctly in IOS"
Hello Team,
Thank You for this fantastic module. I am using version: 3.3.1. Recently, I found that on IOS, the OTP is not getting auto-populated correctly. Earlier it used to.

Nothing was really changed from our side in the app as such.

The detailed issue is as described:
1] The otp message is received
2] IPhone displays correct OTP on top of the keyboard
3] When clicked on it, it only populates

[2019-12-13 07:27] paras-kc commented on #200
facing the same issue. can anyone help please??

[2019-12-13 07:48] paras-kc opened #222 "can you please tell how to diable otp auto fill it is always filling wrong otp input"

[2019-12-13 12:51] dsznajder commented on #222
@paras-kc It should be possible to pass some prop probably. More likely feature request :) Looks like good first issue.

[2019-12-13 15:02] mayankpandav commented on #200
@paras-kc you can do fork and do your code...

[2019-12-13 20:25] dsznajder commented on #200
@mayankpandav you can also open a PR that fixes/resolve this. I did not receive any of the requested things as reproduction or code example. Also, couldn't reproduce it by myself 😕

[2019-12-19 15:59] dsznajder commented on #222
@paras-kc I've added v4.1.0 `autofillFromClipboard` prop which is default to `true`. You can just pass `false` and autofilling will be skipped. In addition, I'm still not able to reproduce your issue without any code example unfortunately 😢.

[2019-12-19 15:59] #222 closed

[2019-12-19 16:00] dsznajder commented on #221
@chakkizza Sorry for problem! I've restored this iOS functionality in `v4.1.0` :) If there will be any issues related to this just open separate issue :)

[2019-12-19 16:00] #221 closed

[2020-01-02 09:34] rusliabdulgani commented on #213
already add keyboardType='phone-pad' but still not working in some android phone, but work well on some android phone.
it's still issue of samsung keyboard?

[2020-01-02 09:39] dsznajder commented on #213
@rusliabdulgani Yes it is. We had the same issue on our production and now it seems working fine. Did you updated package to newest version?

[2020-01-03 05:23] Taiyab123 commented on #200
@dsznajder if any text is already copied in the clipboard and now send OTP and redirect to OTP screen to input OTP but that copied text is showing there. Also unable to edit or clear the input. Can anyone help, please?

[2020-01-07 04:31] rusliabdulgani opened #235 "react-native-keyevent not work in custom installed keyboard"
Dear All,

I found issue on custom installed keyboard for react-native-keyevent. it not work at all.
Is possible to get data input if react-native-keyevent not work? cause if i get console of otp input, i'm not get data if react-native-keyevent not work properly.

[2020-01-07 08:32] dsznajder commented on #235
@rusliabdulgani There is huge possibility with that, but look on origininal issue #213 This can be caused because of custom `keyboardType`, and this issue lives inside RN (AFAIK 🤔 )

[2020-01-28 12:27] dsznajder commented on #235
@rusliabdulgani Could you please check `@next` channel if everything works for you? We've removed `react-native-keyevent` as it wasn't really reliable for custom keyboards.

[2020-02-01 18:25] codeamo commented on #171
Hi there, just wondering this issue of focusing was solved. I mean, my issue is that I have set the autoFocus on and I want it to automatically focus on the beginning of OTP input but by default, it's focusing on random inputs mostly on the second last inputs. How can I autoFocus on the first OTP input my default?

I have seen on the example code that you have used a focusOTP function which you th

[2020-02-02 09:03] dsznajder commented on #171
@codeamo You can do exactly same function call but on componentDidMount.

[2020-02-02 10:43] codeamo commented on #171
@dsznajder since I am using react hooks, I have done the same things with useEffect but still not working the first render but the second render. any help?
my code is here:
`
const focusOTP = () => {
    otpRef.current.focus();
  };

  useEffect(() => {
    focusOTP();
  }, []);

<OtpInputs
          ref={otpRef}
          keyboardType="number-pad"
          handleChange={num => setCode({ code: nu

[2020-02-02 10:44] dsznajder commented on #171
Remove autoFocus prop, and give it a try

[2020-02-02 10:47] codeamo commented on #171
Yep, that works, Does the package provide a call back function that fires after the input fields are full?

Thanks

[2020-02-02 11:30] dsznajder commented on #171
@codeamo No, you can do this through `handleChange` function.

[2020-02-05 10:27] dsznajder commented on #235
@rusliabdulgani closing as it's fixed on `@next` route.

[2020-02-05 10:27] #235 closed

[2020-02-05 10:28] dsznajder commented on #200
@Taiyab123 could you provide some reproduction?

[2020-02-05 12:24] erm1lov commented on #133
Where can we find this migration guide?

[2020-02-05 13:38] Taiyab123 commented on #200
1. First copy some text on clipboard,
2. in app move to otp screen you will see that otp is auto filled
3.  you will not  be able to edit.

Thank you

On Wed, Feb 5, 2020 at 3:58 PM Damian Sznajder <notifications@github.com>
wrote:

[2020-02-11 08:55] jp-xbox-gaming opened #237 "Keyboard closes after entering each input if custom "inputContainerStyles" is specified"
While trying to create OTP inputs with 6 digits and custom styles as shown below, Keyboard is getting dismissed after user enters each single input.

[code]

If `inputContainerStyles={{ height: 53 }}` is commented/removed, everything works fine. Except that it adds the default style which gives bottom border to all the input fields. The only way to avoid bottom border is to provide custom `inputCo

[2020-02-18 11:56] SiddharthRana commented on #200
Hi, getting the same issue. I want to disable the autofill, how can i do it?

[2020-02-27 06:14] sivakumar-cf opened #239 "iOS textContentType=oneTimeCode autofilling the entire OTP code at first index"
Hi, I am facing an issue In iOS OTP code auto-filling.

I have set 6 as `numberOfInputs` and when I got OTP code SMS from keyboard accessory view.
While Tapping on it, the entire OTP code of 6 letters got filled to the first index of TextInput out of 6.  The rest of TextInputs remains empty.
![IMG_2183](https://user-images.githubusercontent.com/22584937/75417141-451fe880-5956-11ea-8518-550d26e9a32

[2020-02-27 07:32] dsznajder commented on #239
@sivakumar-cf Hi! Could you provide version which you use? In addition, try `5.0.0-alpha.0`.

[2020-02-27 07:39] sivakumar-cf commented on #239
Yes I am using the latest version `^5.0.0-alpha.0`

[2020-02-27 08:38] dsznajder commented on #239
@sivakumar-cf I will take a look at this.

[2020-02-28 12:56] dsznajder commented on #200
It seems to be working fine in `5.0.0-alpha.0`. Today I will try to release stable v5.

[2020-02-28 12:56] #200 closed

[2020-02-28 14:04] #237 closed

[2020-02-28 14:04] #239 closed

[2020-03-08 05:44] sivakumar-cf commented on #239
Thanks it worked.

[2020-03-18 08:06] waleedarshad opened #242 "Autofill feature?"
Does it provide autofill feature for Android and ios?

[2020-03-19 08:41] kantorm commented on #242
Hi @waleedarshad, yes it does. You can switch it on/off using `autofillFromClipboard` prop. It is described [here](https://github.com/dsznajder/react-native-otp-inputs/blob/master/docs/API.md) in the API docs.

[2020-03-27 19:30] dsznajder commented on #242
Closing, as you have an answer. If you need anything else, just feel free to open a new issue.

[2020-03-27 19:30] #242 closed

[2020-03-29 14:15] waleedarshad commented on #242
Thanks

On Sat, Mar 28, 2020 at 12:30 AM Damian Sznajder <notifications@github.com>
wrote:

--
Regards,

Waleed Arshad

[2020-05-03 17:45] yagnesh-y commented on #8
@dsznajder Sorry but can't find usage related to this? The only thing i find is the defaultValue?

[2020-05-28 11:10] Susmitha-Bogala commented on #7
With the latest version of react-native (0.62.2) version, input fields are not visible in ios all devices

[2020-06-23 07:55] gandarain opened #244 "secureTextEntry not working"
I try use secureTextEntry={true} but didnt work
Platform emulator android
[code]
![Screen Shot 2020-06-23 at 14 53 21](https://user-images.githubusercontent.com/27923352/85375977-4e663e00-b561-11ea-9278-f40e612dc80c.png)

[2020-06-30 07:58] jaspreetjk opened #245 "How to clear input"

[2020-06-30 08:41] dsznajder commented on #245
@jaspreetjk https://github.com/dsznajder/react-native-otp-inputs/blob/master/docs/API.md#methods
Use `reset` method on OtpInputs ref.

[2020-06-30 08:41] #245 closed

[2020-09-19 10:33] dpatil2011 opened #247 "autoFocus"
if we give  autoFocus={true} it is focusing to last index instead of first index.

[2020-09-19 13:00] dsznajder commented on #247
@dpatil2011 Because you should not use `autoFocus` prop. Instead, use `focus` method on `OtpInputs` ref.

[2020-09-19 13:00] #247 closed

[2020-09-19 17:27] dpatil2011 commented on #247
Thank you

[2020-09-22 13:04] yudiz-vipul opened #248 "There is no way to clear all code."
`<OtpInputs
    selectionColor={Platform.OS === 'ios' && AppColors.app490074}
    inputContainerStyles={styles.otpInput}
    inputStyles={styles.otpInputText}
    numberOfInputs={6}
    autofillFromClipboard={true}
    returnKeyType={'done'}
    handleChange={(code) => {
        setOTPVerificationCode(code)
    }}
/>
`

I would like to clear all entered code. Is there any way to do this?

[2020-09-22 13:11] yudiz-vipul commented on #248
I have found solutions here:
https://github.com/dsznajder/react-native-otp-inputs/issues/245

[2020-09-22 13:11] #248 closed

[2020-10-15 05:02] rahulje9 opened #249 "Not focusing to next input in android"
I have an issue with the input in android, If I fill in the fields and then try to re-enter the same digit in the input filed. it is not focusing on to the next input field. In ios it is getting focused to the next input, the issue is only in android. Please find the attached gif for reference.

I'm on
`react-native - 0.63.2`
`react - 16.13.1`
`react-native-otp-inputs- 6.0.0`

[code]

![screenreco

[2020-10-15 07:24] dsznajder commented on #249
@rahulje9 Unfortunately with current implementation of react-native TextInput events, you can't do any action as it does not trigger any event when you pass same text. Maybe something changed but it need a check. As "workaround" I recommend reset inputs on send.

[2020-10-15 09:22] rahulje9 commented on #249
@dsznajder is this a limitation in the Android side? how to reset inputs on send?

[2020-10-15 11:21] dsznajder commented on #249
@rahulje9 [In documentation](https://github.com/dsznajder/react-native-otp-inputs/blob/master/docs/API.md#methods) you can find method which can be called on ref.

[2020-11-13 08:22] BayCo opened #250 "Infinite pasting from clipboard"
Simulator: ios 14
there is infinite pasting from clipboard, on component load

[2020-11-13 08:26] dsznajder commented on #250
@BayCo Ahh my bad, I forgot to handle `ios` 14, but you can just pass autofillFromClipboard={false} when needed :)

[2020-11-13 08:32] BayCo commented on #250
Cool, i'll be waiting

[2020-12-15 10:48] nguyenductoan1995 commented on #250
The problem has been fixed yet, everyone

[2020-12-15 15:18] #250 closed

[2021-01-27 11:08] yudiz-vipul opened #253 "One time code autofilling weird behaviour"
I am getting weird behavior filling code using the autofill option, I don't want auto-filling features to avoid the weird issues. Please check the attachment.

![RPReplay_Final1611745035](https://user-images.githubusercontent.com/45070224/105982850-df843100-60bd-11eb-9421-51b97b650c46.gif)

Also, you can check my code snippet here:
`<OtpInputs
    ref={otpInputsRef}
    selectionColor={Platform.OS

[2021-02-24 09:47] vinaynarayankutty opened #254 "Button colour changing after filling the inputs"
After filling in the otp code, the colour of the button after otpInputs component changes. I have no idea why it is showing this weird behaviour.

Please find the attached screenshot for detailed view. Here you can see a greyish background colour around the continue button. I've added any backgroundcolor to touchable opacity but it is still showing.
<img width="917" alt="Screenshot 2021-02-24 at 3

[2021-02-24 10:27] dsznajder commented on #254
@vinaynarayankutty It's not package-related issue. Also, I'm not seeing any `backgroundColor` here, more like `borderColor`.

[2021-02-24 10:27] #254 closed

[2021-02-24 10:34] vinaynarayankutty commented on #254
@dsznajder Hi, see the problem is I've given the whole background a white color. See the touchable opacity I've given any grey color and of you look at the simulator screen you can see a grey color around the continue button. Please find the attached screenshots for clarity.
<img width="877" alt="Screenshot 2021-02-24 at 4 02 43 PM" src="https://user-images.githubusercontent.com/40576238/108987963

[2021-02-24 13:07] rahulje9 opened #255 "Copy Paste issue."
Hi,

I've included this package in my project. In that, is a requirement that when the user copies and pastes the OTP, it should fill the whole fields.

At the moment it only fills till the field in which the user pasted data.
for example, if the user tries to paste in the 3rd input box and the total length is 6, it will start from 0 to 3rd position. I forked the code and checked. There is a code

[2021-02-24 14:34] dsznajder commented on #254
@vinaynarayankutty It's still not related to the package, as it's just `TextInput`'s components, I have no idea what is actually happening here, but it's related more to React-Native. It's just in "selected" state. Check on a real device.

[2021-03-31 14:20] #249 closed

[2021-03-31 14:22] dsznajder commented on #253
@yudiz-vipul please check on the production code, as it may be caused by many things in development. It also looks like you have some code that is not optimized.

[2021-03-31 14:22] #253 closed

[2021-03-31 14:25] dsznajder commented on #255
@rahulje9 if you would like to modify just these lines in your code, you can use https://github.com/ds300/patch-package. I'm not sure if it should paste always the whole code. I would change it if pasted code length is equal to the number of inputs. I've handled it as described here in the new version.

[2021-03-31 14:25] #255 closed

[2021-04-20 07:29] rahulthakur897 opened #259 "Issue: It automatically picking previous OTP in Android 10"

[2021-04-21 10:42] akapoordeqode commented on #255
Hi @rahulje9 Could you please tell me in which file you have altered the changes.
@dsznajder have you added this feature on the latest build.
Because i was also facing this issue in android but on ios it is working fine.

[2021-04-21 11:53] akapoordeqode opened #260 "Unable to paste in android"
Hi,
I have added this library to my project. And now it only pastes the number on the field in which I have pasted.
For example, if I have copied 9876 and tried to paste on the 1st field then only 9 will be shown on the 1st field. But when i do this thing on ios then it works good.

Please fix this issue ASAP.

[2021-05-27 14:26] zlbSwen opened #265 "unexpected response when entering number into second positon"
Here is my props given to OtpInputs:
<OtpInputs
                ref={ref=>this.optRef=ref}
                ......
                numberOfInputs={6}
                caretHidden={true}
                selectTextOnFocus={false}
/>
First, input three numbers, then press backspace until only one number(the first one) left.
Then, type in one more number, causing the keybord dismissing and unable to inp

[2021-06-24 04:32] BhalodiyaHappyDV opened #268 "auto filling otp in ios not work proper"
Hello, I am stuck on iOS OTP code auto-filling.

I have set 6 as numberOfInputs and when I got OTP code SMS from keyboard accessory view.
While Tapping on it, the entire OTP code of 6 letters got filled to the first index of TextInput out of 6. The rest of TextInputs remains empty.

[2021-07-01 17:37] shivchawla commented on #244
It's a problem with TextInput field [(React-Native Issue#26799)](https://github.com/facebook/react-native/issues/26799)
Use KeyboardType="numeric"

[2021-07-01 18:22] dsznajder commented on #244
Referenced also here: #23

[2021-07-01 18:22] #244 closed

[2021-07-17 14:41] imvenky opened #269 "Getting Error: Cannot read property 'getString' of undefined"
<img width="259" alt="Screen Shot 2021-07-17 at 8 10 16 PM" src="https://user-images.githubusercontent.com/5189517/126040505-8d069367-1034-4330-9cb1-863d0b980cd6.png">
I've used exact same thing as you have given in the example.

[2021-07-18 13:26] dsznajder commented on #269
Have you installed properly clipboard package? Remember to also install pods on iOS.

[2021-08-19 09:17] Akshayshakya commented on #23
Thank you so much its perfect answer.

[2021-08-31 05:52] Sunfocus commented on #268
Hi @BhalodiyaHappyDV

Did you got any solution of this issue?

I am also facing similar issue. For my side I have 4 digits input field. And when I tapping on the keyboard OTP view. First it fills the entire 4 digits OTP in first field, and then 1, 3, 4 input box filled with correct value, but second box remain empty. See attached image.

![Screenshot 2021-08-31 at 11 21 31 AM](https://user-images.

[2021-08-31 09:28] Sunfocus commented on #268
Also tested it on latest version ```7.0.3``` of this package, but issue still same.

[2021-09-07 13:37] true-hamid commented on #269
I'm facing the same issue on windows, clipboard is installed properly

[2021-09-08 23:22] ginxx009 opened #272 "For those who are having issue regarding on autofill here's a solution"
when you use ```<OTPInputs />```

Don't use this  ```autofillFromClipboard={true}```

just do it like this
[code]

and that will solve your issue

[2021-09-27 20:41] michaelbayday commented on #260
has anyone found a fix to this?

[2021-12-01 11:11] ELBEQQAL94 commented on #237
You have to remove keyboardType="number-pad" that's work for me

[2021-12-08 09:44] ELBEQQAL94 commented on #237
Same problem for me, Any update on this issue?

[2022-01-04 21:00] Hirbod opened #274 "Expo has a Clipboard API"
https://docs.expo.dev/versions/latest/sdk/clipboard/

And since it is easy installable outside of Expo (https://github.com/expo/expo/tree/master/packages/expo-clipboard) it should be used as the main library for broad user support.

[2022-01-04 23:00] dsznajder commented on #274
@Hirbod I disagree. Expo forces you to use it on your project and integrate it with the rest of `expo-modules` stuff. It also has half of the main clipboard package installs. If the integration does not need `expo`, installation is similar to main package.

[2022-01-04 23:00] #274 closed

[2022-01-05 10:31] dsznajder commented on #274
@Hirbod I'm happy to merge PR if it would support both approaches.

[2022-01-20 15:13] oguzturker8 opened #276 "[Request]: Android SMS User Consent API Integration"
Adding [SMS User Consnet API](https://developers.google.com/identity/sms-retriever/user-consent/overview) for Android would be great option for autofilling OTP SMS. The other otp components work with SMS Retriever API so you should consider.
Thanks

[2022-02-09 12:29] Ujjwal0502 opened #277 "how to clear up the inputs on wrong OTP ? nothing to handle it"

[2022-02-12 07:38] #277 closed

[2022-02-22 11:37] EvertVTemp commented on #260
I'm having the same problem, I hope it gets resolved soon.

[2022-05-02 11:15] DeepakSharma04 commented on #268
autofill not worked in ios 15.4 and 14

[2022-05-09 10:13] JohnBerd opened #293 "Exported props are missing"
Thanks for your amazing job!

I would need to use the OTP inputs props in my React Native Project with Typescript

[2022-05-16 02:42] duro commented on #260
3 months later and this is still an issue.

[2022-06-15 15:47] linco6054 opened #297 "When I type OTP and select a middle number to remove and clean it using delete button, the number jumps to previous fields."
is there a way i can only delete the focused input box ?
My code

<OtpInputs
        autoFocus={false}
        defaultValue={value}
        style={styles({ theme, colorMode }).main}
        inputContainerStyles={styles({ theme, colorMode }).inputContainerStyles}
        inputStyles={styles({ theme, colorMode }).inputStyles}
        autofillFromClipboard={true} // auto fill from sms
        keyboar

[2022-07-16 06:20] Trapintrovert opened #300 "Does not have onCodeFilled method/Props"
When the code input is completed, there should be a method to allow the user to navigate or do anything with the inputted code.

[2022-09-01 13:58] princefishthrower commented on #260
@akapoordeqode - why don't you fix it?

[2022-09-02 13:23] princefishthrower commented on #260
I've written my own from scratch that works without problems for both Android and iOS: https://chrisfrewin.medium.com/simple-one-time-password-otp-component-for-react-native-2a5518bac3bf

[2022-09-07 06:32] Invictus-Munish commented on #259
Same bro did u find any solution

[2022-09-08 07:33] xjdqq opened #302 "ios paste code the UI abnormal"
![image](https://user-images.githubusercontent.com/40536295/189062518-d1cca5ae-cc27-42b4-8228-5db037ce6e1c.png)

[2022-09-08 07:38] xjdqq commented on #302
![image](https://user-images.githubusercontent.com/40536295/189062933-de09c649-b8f5-459a-8cbc-6f66b7d9e359.png)
You can do it this way

- > if (Platform.OS === 'ios' && index === 0 && text.length > 1) {
        inputs.current[index].current.setNativeProps({
          value: text[0],
          text: text[0],
        });
      }

[2022-09-23 06:42] demna-miqava commented on #302
Hello, I have kind of similar issue: on autofill it tries to paste first two digits inside first square. Have you find any solution?

[2022-10-04 19:35] crieggalder commented on #274
Hey @chillios-ts - @hirbod is right. Expo clipboard works great with or without Expo, so it's the best solution. And luckily it's a drop-in replacement! `Clipboard.setString()` is the same, and `Clipboard.getString()` becomes `Clipboard.getStringAsync()`.

I'd PR it but looks like there are already some pending PRs. If you're still maintaining this, would you consider just swapping the deps? Shoul

[2022-10-09 06:31] xjdqq commented on #302
You can add the above code to the source code and patch it. Here's how I solved it

[2022-10-10 07:56] sapramit opened #304 "OTP input losing focus immediately on IOS"
On iOS 12 and above, OTP input is losing focus immediately. The keyboard is going down automatically even focus function is called. Any fix for this

[2022-10-11 11:34] PROda221 opened #305 "add styles to inputs if they have a value"
Hello developers!
Need a prop through which we can get to know if boxes has a value in it or not. With this we can style specific boxes if they have a value present on not. If this already exists, then please let me know
<img width="284" alt="Screenshot 2022-10-11 at 5 00 35 PM" src="https://user-images.githubusercontent.com/31884259/195079023-262827f4-0ac9-4810-9f10-8a1b67cdcb26.png">
in the imag

[2022-10-12 04:53] PROda221 commented on #305
Hello? Anyone here to help?

[2022-10-26 07:49] lovelytingy opened #306 "Touchable area is too short."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-otp-inputs@7.4.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>